.top-bar {
	font-family: $headings-font-family;
	font-size: 1rem;
}

.main-logo {
	max-width: 280px;
	
	@include media-breakpoint-up(md) {
		max-width: 350px;
	}

	@include media-breakpoint-up(xl) {
		max-width: 450px;
	}
}


.navbar-expand-lg .navbar-nav {
	.nav-link {
		margin: 2px !important;
		padding: 0.5rem !important;
		font-family: $headings-font-family;
		font-weight: 500;
		font-size: 1rem;
		color: $primary;
		border-radius: 6px;
		border: 2px solid #fff;
		transition: .2s;

		@include media-breakpoint-up(xxl) {
			margin: 0 10px !important;
			padding: 0.5rem 1rem !important;
			font-size: 1.15rem;
		}

		&:hover {
		    border: 2px solid #065769;
		}
	}
}