.top-bar {
	font-family: $headings-font-family;
	font-size: 1rem;
}

.main-logo {
	max-width: 280px;
	@include media-breakpoint-up(lg) {
		max-width: initial;
	}
}


.navbar-expand-lg .navbar-nav {
	.nav-link {
		margin: 0 10px !important;
		padding: 0.7rem 1.5rem !important;
		font-family: $headings-font-family;
		font-weight: 500;
		color: $primary;
		font-size: 1.35rem;
		border-radius: 6px;
		border: 2px solid #fff;
		transition: .2s;

		&:hover {
		    border: 2px solid #065769;
		}
	}
}