.community-block {
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	&:hover {
		.community-overlay {
			background: rgba($white, .5);
		}
	}
}

.community-overlay {
	background: rgba($white, .85);
	transition: .2s;
}