.community-block {
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	transition: transform .2s;

	&:hover {
		transform: scale(1.025);
	}
}

.community-overlay {
	background: rgba($white, .5);
}