.single-homes {
	.main-hero {
		background-position: center;
		background-repeat: no-repeat;

		.hero-overlay {
			background: rgba($turquoise, .5);
		}

		.title-box {
			top: -3rem;
		}
	}

	.phase {
		background: #f4f4f4;
		border-radius: 16px;
	}
}

.hero-box {
	margin-top: -6rem;

	img {
		@include media-breakpoint-up(lg) {
			margin-top: -6rem;
			border: 12px solid #fff;
		}
	}
	
	.shadow {
		box-shadow: 0 -10px 51px 1px rgba(0,0,0,.15);
	}
}

.nav-tabs {
	.active {
		background-color: $primary !important;
	}
}